<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" id="logo-container" class="brand-logo">Suffragium</a>
                <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a ng-href="#!/register">Register</a></li>
                    <li><a ng-href="#!/login">Login</a></li>
                </ul>
                <ul id="mobile-demo" class="side-nav">
                    <li><a ng-href="#!/register">Register</a></li>
                    <li><a ng-href="#!/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container row signup">
    <div id="signup">
        <div class="container signup-screen row">
            <div class="s3 offset-s6">
                <div class="space-bot text-center">
                    <h1 class="title-color">Login</h1>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="s6 offset-s2">
                <form class="form-register" name="register" ng-submit="vm.login($event)" novalidate>
                    <div class="input-field col s8">
                        <input class="input-border-color" id="email" type="email" name="email" ng-model="vm.email" class="validate" required>
                        <label for="email">Email</label>
                        <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>
                    </div>
                    <div class="input-field col s8">
                        <input class="input-border-color" id="password" type="password" name="password" ng-model="vm.password" ng-minlength='6' class="validate" required>
                        <label for="password">Password</label>
                        <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
                    </div>
                    <div class="space-top text-center col s8">
                        <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done default-color">
                            <i class="material-icons left demo-color">done</i> Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>