<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a ng-href="/" id="logo-container" class="brand-logo">Suffragium</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a ng-href="/">Home</a></li>
                    <li><a ng-click="logout()" class="logout-click">Logout</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a ng-href="/">Home</a></li>
                    <li><a ng-click="logout()" class="logout-click">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container row create-poll">
    <div class="col l6 offset-s2 s9">
        <form class="form-register" name="poll" action="/privateArea/" method="POST" novalidate>
            <input type="hidden" name="userID" value="{{userID}}">
            <p class="title-create-style  create-poll-title">Create your poll</p>
            <div class="input-field col s8">
                <input class="input-border-color" id="question" ng-model="question" type="text" name="question" class="validate" required>
                <label for="question">Type your question here</label>
            </div>
            <div class="input-field col s8">
                <input class="input-border-color" id="option1" ng-model="option1" type="text" name="option1" required>
                <label for="option1">Option 1</label>
            </div>
            <div class="input-field col s8">
                <input class="input-border-color" id="option2" ng-model="option2" type="text" name="option2" required>
                <label for="option2">Option 2</label>
            </div>
            <div class="add-margin  input-field col s8">
                <span id="addOption" class="info-pointer"><i class="material-icons info-icon">add</i><label class=" info-pointer label-add">Add another option</label></span>
            </div>
            <div class="add-margin input-field col s8">
                <p>Allow multiple poll answers:</p>
                <div class="switch">
                    <label class="multiple-vote-space">
                        No
                        <input type="checkbox" name="allowMoreThanOne">
                        <span class="lever"></span> Yes
                    </label>
                </div>
            </div>
            <div class="input-field duplicaton-top-space col s8 row">
                <div class="select-duplication col s11">
                    <select name="duplicationChecking">
                        <option value="none" disabled selected>Choose checking option:</option>
                        <option value="none">No Duplication Checking</option>
                        <option value="login">Login Duplication Checking </option>
                    </select>
                </div>
                <div class="col s1">
                    <span id="info-activate" class="info-pointer">
                        <a><i class="material-icons info-icon">info_outline</i></a>
                    </span>
                </div>
            </div>
            <div class="select-duplication col s8">
                <button onclick="Materialize.toast('Poll created!', 2000)" ng-disabled="form-poll.$invalid || form-register.$pending" class="btn voted btn-poll">Create Poll
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <!-- begin info modal -->
        <div id="info-modal" class="modal">
            <div class="modal-content">
                <h4 class="modal-title">Duplication Checking Info</h4>
                <p><strong>Browser Cookie Duplication Checking</strong> - Duplicate votes will be disallowed based on the browser of the user, allowing multiple votes from the same IP address. This checking is done by default.</p>
                <p><strong>Require User Sign In to Vote</strong> - Voting is not allowed unless the voter is signed into their Suffragium account.</p>
                <p><strong>No Duplication Checking</strong> - Duplication checking will be disabled and users can vote as many times as they would like.</p>
            </div>
            <div class="modal-footer">
                <span><a id="btnClose" class="modal-action btn-flat">Ok</a></span>
            </div>
        </div>
        <!-- end info modal -->
    </div>
    <!-- begin my polls -->
    <div class="col l5 offset-l1 offset-s2 s9">
        <p class="title-create-style owned-polls"> My polls </p>
        <div class="personal-polls row" ng-repeat="poll in userPolls" id="{{poll.uid._id}}">
            <a href="#!/poll/{{poll.uid._id}}">
                <p class="question-own-poll">{{poll.uid.question}}</p>
            </a>
            <div class="switch col l8 s8">
                <label>
                    Close
                    <input type="checkbox" ng-change="updateStatus(poll.uid)" ng-model="poll.uid.pollInfo.status" ng-checked="{{poll.uid.pollInfo.status}}">
                    <span class="lever"></span> Open
                </label>
            </div>
            <div class="col l4 s4" ng-click="deletePoll($event)">
                <span class="info-icon info-pointer"><i class="material-icons">delete</i></span>
            </div>
        </div>
    </div>
    <!-- end my polls -->
</div>